body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 1rem;
    text-align: center;
    color: white;
}

main {
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label,
input,
select {
    margin-bottom: 1rem;
}

button {
    align-self: center;
    padding: 0.5rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}